.verification {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--fiat-and-crypto-tab-verification-background);
  border-radius: 12px;
}

.noVerification {
  background: #47616F;
}

.verification img {
  margin-right: 8px;
}

.verifiedText {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #02EE7D;
}

.unverifiedText {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 9px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #FFFFFF;
}

.notice {
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 16px 32px;
}

.notice p {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #FFFFFF;
}

.balanceAndVerification {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 38px;
  margin-bottom: 20px;
}

.cashableBalance {
  height: 44px;
  padding-left: 18px;
  display: flex;
  align-items: center;
  background: var(--fiat-and-crypto-tab-balance-background);
  border-radius: 12px;
}

.cashableBalance p {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 9px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #FFFFFF;
}

.cashableBalance p:last-of-type {
  font-weight: 600;
  font-size: 30px;
  line-height: 18px;
  margin-left: 18px;
}

.withdrawAndNotice {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 38px;
}

.submitArea {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.depositArea {
  padding-left: 188px;
}

.submitArea button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
  width: 500px;
  height: 54px;
  background: var(--fiat-and-crypto-tab-button-background);
  border-radius: 16px;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #FFFFFF;
}

.depositWith {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 18px;
}

.depositWith p {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 9px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #C4C4C4;
  margin-right: 12px;
}

.depositIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: #0F5B60;
  border-radius: 10px;
}

.depositIcon:first-of-type {
  margin-right: 16px;
}

.selectOptions {
  top: 35px;
}

.cardSelect {
  margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  .submitArea {
    padding-left: 0;
    flex-direction: column;
  }

  .submitArea button {
    margin-bottom: 20px;
  }

  .depositWith {
    padding-right: 105px;
  }

  .balanceAndVerification {
    display: flex;
    flex-direction: column;
  }

  .cashableBalance {
    padding-right: 18px;
    margin-bottom: 20px;
    width: fit-content;
  }

  .withdrawAndNotice {
    display: flex;
    flex-direction: column;
  }

  .cardSelect {
    margin-bottom: 20px;
  }

  .cryptoInput {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 769px) {
  .cashableBalance {
    width: calc(100% - 36px);
    justify-content: space-between;
  }

  .cashableBalance p:last-of-type {
    margin-left: 0;
    font-size: 24px;
  }

  .submitArea {
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .submitArea button {
    width: 100%;
  }
}